*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face{
    src: url(KenokyLight.ttf);
    font-family:tag;
  }
  @font-face{
    src: url(Maghfirea.ttf);
    font-family: ta;
  }
  
  body{
    width: 100vw;
    overflow-x: hidden;
    background-color: rgba(242, 236, 228, 1);
    font-family: sans-serif;
  }
  /* width */
  ::-webkit-scrollbar {
    width: .7vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
     border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  a{
    color: rgba(30, 48, 64, 1);
    text-decoration: none;
  }
  header{
    width: 100vw;
    height: 18vh;
    display: grid;
    grid-template-columns: 50% 50%;
    /* background-color: aqua; */
    
  }
  .logo{
    width: 100%;
    height: 100%;
    margin: 15px 5px;
  }
  .logo img{
    width: 380px;
  }
  .menu{
    width: 100%;
    height: 100%;
    margin: 20px;
    font-size: 18px;
    position: relative;
    top: 10px;
  }
  .menu1{
    display: flex;
    padding: 5px;
    list-style-type: none;
  }
  .menu li{
    padding: 8px 10px;
    cursor: pointer;
  }
  .sub{
    position: absolute;
    z-index: 100;
    display: none;
    background-color: rgb(255, 255, 255);
    list-style-type: none;
  }
  .sub1{
    position: absolute;
    z-index: 100;
    display: none;
    background-color: rgb(255, 255, 255);
    list-style-type: none;
  }
  .sub li{
    list-style-type: none;
  }
  .sub1 li{
    list-style-type: none;
  }
  .sub2 li{
    list-style-type: none;
  }
  .sub2{
    position: absolute;
    z-index: 100;
    display: none;
    background-color: rgb(255, 255, 255);
    list-style-type: none;
  }
  .subli:hover .sub{
    display: block;
    position: absolute;
    transition: .4s;
  }
  .subli1:hover .sub1{
    display: block;
    position: absolute;
  }
  .subli2:hover .sub2{
    display: block;
    position: absolute;
  }
  .menu li a:hover{
    color: red;
  }
  .resim{
  position: absolute;
  width: 30px;
  display: none;
  cursor: pointer;
  right: 5vw;
  margin-top: 4vw;
  }
  .res img{
  position: absolute;
  width: 80px;
  cursor: pointer;
  top: .3vw;
  left: 1vw;
  }
  .res{
    display: none;
    width: 60vw;
    height: 50vh;
  border-radius: 10%;
    background-color: #181818;
    position: absolute;
    right: -60vw;
  z-index: 100;
  bottom: 50vh;
  }
  .rmenu ul{
    position: relative;
    left: 160px;
    top: 80px;
  }
  .rmenu li{
    list-style-type: none;
    padding: 11px 5px;
  }
  .rmenu{
    font-size: 23px;
  }
  .rmenu{
    margin: 16px;
  }
  .res a{
    color: white;
  }
  .line{
    width: 100vw;
    height: 50vh;
    font-family: tag;
    font-size: 90px;
    margin: 30px 20px;
    position: relative; 
    top: 50px;
    text-align: center;
    font-weight: lighter;
  }
  .cont{
    width: 100vw;
    height: 46vh;
    /* background-color: blue; */
    margin: 0px 10px ;
  }
  .cont h1{
    margin: 10px;
    font-size: 30px;
    font-weight: lighter;
  }
  .in{
    width: 100vw;
    margin: 20px 60px;
    display: flex;
  }
  #for{
    margin: 5px;
    width: 280px;
    height: 40px;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid black;
    background-color: rgba(244, 244, 244, 1);
  }
  #for1{
    margin: 5px;
    width: 200px;
    height: 40px;
    font-size: 16px;
    border-radius: 18px;
    border: 2px solid black;
    background-color: rgba(244, 244, 244, 1);
  }
  .cont a{
    color: white;
  }
  .butt{
    width: 130px;
    height: 40px;
    border-radius: 30px;
    background-color: black;
    margin:6px 10px;
    /* padding: 8px 15px; */
    overflow: hidden;
    transition: .8s;
  }
  .butt:hover{
    background-color: red;
    color: black;
  }
  .butt span{
    position: relative;
    left: 29px;
    top: 12px;
    font-size: 16px;
  }
  .cont p{
    margin: 50px 20px;
    text-align: center;
    font-size: 26px;
    width: 30%;
  }
  .cont1{
    width: 100vw;
    height: 100vh;
    margin: 20px;
    /* background-color: red; */
    display: grid;
    grid-template-rows: 20% 70% 5%;
  }
  .cont1 h1{
    font-weight: lighter;
    font-family: tag;
    font-size: 65px;
    margin: 10px;
    position: relative;
    top: 30px;
  }
  .cont1 a{
    color: rgb(255, 255, 255);
    margin: 10px;
  }
  .box{
    width: 100vw;
    font-family: ta;
    display: flex;
  }
  .abox{
    width: 400px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 10vh;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 15px;
  }
  .im{
    position: relative;
    left: 5px;
    top:5px;
    width: 390px;
    height: 219px;
  }
  .navi{
    position: relative;
    left: 50px;
  }
  .box nav{
    display: flex;
    text-align: center;
    position: relative;
    font-size: 22px;
    top: 5px;
    left: 26px;
    text-align: center;
  }
  .box nav img{
    width: 28px;
  }
  .box nav p{
    position: relative;
    top: 5px;
    margin: 0px 4px;
  }
  .h2{
    position: relative;
    right: 30px;
  }
  #ico{
    display: flex;
    margin: 5px;
  }
  #le{
    position: relative;
    left: 60px;
  }
  #ico1{
    display: flex;
    margin: 5px;
    position:relative;
    left: 20px;
  }
  .abox h3{
    text-align: center;
    font-weight: lighter;
    margin: 5px;
    position: relative;
    top: 4px;
    font-size: 24px;
  }
  .abox h2{
    text-align: center;
    font-weight: lighter;
    margin: 6px 2px;
    position: relative;
    /* top: 29px; */
    font-size: 29px;
  }
  .butt2{
    width: 130px;
    height: 40px;
    border-radius: 30px;
    background-color: black;
    margin:18px 0px;
    color: white;
    position: relative;
    left: 550px;
    top: 20px;
    transition: .8s;
    /* padding: 8px 15px; */
  }
  .butt2 span{
    position: relative;
    margin: 17px 0px;
    left: 40px;
    top: 12px;
  }
  .cont2{
    width: 100vw;
    height: 120vh;
    margin: 5px;
    /* background-color: brown; */
    display: grid;
    grid-template-rows: 20% 70% 10%;
  }
  .cont2 h1{
    font-weight: lighter;
    font-family: tag;
    font-size: 65px;
    margin: 10px;
    position: relative;
    /* top: 30px; */
  }
  .h22{
    width: 100vw;
    height: 5vh;
    position: relative;
    /* top: ; */
    /* background-color: rgb(255, 72, 0); */
    margin: 10px;
  }
  .h3{
    width: 100vw;
    height: 5vh;
    position: relative;
    top: 25%;
    /* background-color: rgb(229, 255, 0); */
    margin: 10px;
  }
  
  .h4{
    width: 100vw;
    height: 5vh;
    position: relative;
    top: 45%;
    /* background-color: rgb(255, 38, 0); */
    margin:10px;
  }
  .butt3{
    width: 130px;
    height: 40px;
    border-radius: 30px;
    background-color: black;
    margin:6px 10px;
    color: white;
    position: relative;
    left: 550px;
    transition: .8s;
    /* padding: 8px 15px; */
  }
  .butt3 span{
    position: relative;
    margin: 17px 0px;
    left: 40px;
    bottom: 22px;
  }
  .cont3{
    width: 100vw;
    height: 100vh;
    /* background-color: aqua; */
    margin: 10px;
    display: grid;
    /* grid-template-rows: 10% 80% 10%; */
  }
  .cont3 h1{
    font-weight: lighter;
    font-family: tag;
    font-size: 65px;
    margin: 10px;
    position: relative;
  }
  .bo{
    width: 60vw;
    height: 80vh;
    /* background-color: #888; */
    margin: 2%;
    position: relative;
    left: 20vw;
    bottom: 10vh;
    padding: 10%;
    display: grid;
    grid-template-rows: repeat(5,15vh);
    align-content: center;
  }
  .bo a{
    color: rgb(0, 0, 0);
    text-decoration:none;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: 30px;
    font-family: tag;
    z-index: 100;
    /* padding: 5%; */
  }
  .bo span{
    position: relative;
    top: 7vh;
   
  }
  .hoverrev{
    width: 50%;
    height: 10%;
    /* background-color: aqua; */
    position: absolute;
  }
  .hoverrein{
    will-change: transform;
  }
  .hov{
    will-change: transform;
    transition: 1s transform;
  }
  .hoverimg{
    will-change: transform;
  }
  .hoverrev{
    position: absolute;
    opacity: 0;
     /* top: 0; */
    left: 0;
    transform: translate(0,-3px);
    transition: .5s;
  } 
  .bo img{
    position: relative;
    width: 20vw;
    transform: scale(.8,.8);
    will-change: transform;
  }
  .butt4{
    width: 130px;
    height: 40px;
    border-radius: 30px;
    background-color: black;
    margin:6px 10px;
    color: white;
    position: relative;
    left: 580px;
    bottom: 80px;
    transition: .8s;
    /* padding: 8px 15px; */
  }
  .butt4 span{
    position: relative;
    margin: 17px 0px;
    left: 40px;
    top: 12px;
  }
  .cont4{
    width:100vw;
    height: 100vh;
    margin:20px 10px;
    display: grid;
    grid-template-rows: 70% 24% 10%;
    justify-items: center;
  }
  .cont4 h1{
    font-weight: lighter;
    font-family: tag;
    font-size: 65px;
    margin: 10px;
    position: relative;
    text-align: center;
  }
  .cont4 p{
    font-size: 22px;
    text-align: center;
    width: 40%;
    line-height: 30px;
    margin: 10px 0px;
  }
  .cont4 img{
    width: 40px;
  }
  .butt6{
    width: 130px;
    height: 40px;
    border-radius: 30px;
    background-color: black;
    margin:10px 10px;
    /* padding: 12.5px 42px; */
    color: white;
    text-align: center;
    transition: .8s;
  }
  .butt6 span{
    position: relative;
    /* left: 29px; */
    top: 12px;
    /* margin: 100px; */
  }
  .anim{
    height: 50px;
    background-color: rgb(223, 201, 37);
    width: 250vw;
    position: relative;
    margin: 20px 0px;
    font-size: 20px;
    display: flex;
    color: rgb(0, 0, 0);
    align-items: center;
    border: 2px solid black;
  }
  #line{
    position: relative;
  }
  .anim nav{
    display: flex;
  }
  .anim span{
    font-size: 25px;
    margin: 0px 6px;
  }
  .anim nav div{
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    margin: 10px;
  }
  footer{
    width: 100vw;
    height:25vw;
    background-color: rgba(47, 61, 64, 1);
    color: white;
    display: grid;
    margin: 10px 0px 0px 0px;
    grid-template-columns: 75% 25%;
  }
  .fot{
    width:100%;
    height: 100%;
  }
  .fot form{
    display: flex;
    position: relative;
    top: 80px;
  }
  .fot p{
    font-size: 30px;
    text-align: center;
    position: relative;
    margin: 10px;
    right: 300px;
    top: 30px;
    font-weight: lighter;
  }
  .fot form input{
    margin: 3px;
    width: 280px;
    height: 40px;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid black;
    background-color: rgba(244, 244, 244, 1);
    padding: 20px;
  }
  .butt7{
    width: 130px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(255, 0, 0);
    margin:7px 7px;
    /* padding: 12.5px 42px; */
    color: rgb(0, 0, 0);
    text-align: center;
    transition: .8s;
  }
  .butt7 span{
    position: relative;
    /* left: 29px; */
    top: 12px;
    /* margin: 100px; */
  }
  .fot1{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 30% 62% 8%;
  }
  .fot1 h2{
    position: relative;
    top: 30px;
    font-weight: lighter;
    font-size: 30px;
  }
  .fot1 p{
    position:relative;
    top: 20px;
    font-size: 20px;
  }
  .butt7:hover{
    background-color: white;
  }
  .butt6:hover{
    background-color: rgb(255, 0, 0);
    color: #000000;
  }
  .butt5:hover{
    background-color: rgb(255, 0, 0);
    color: #000000;
  }
  .butt4:hover{
    background-color: rgb(255, 0, 0);
    color: #000000;
  }
  .butt3:hover{
    background-color: rgb(255, 0, 0);
    color: #000000;
  }
  .butt2:hover{
    background-color: rgb(255, 0, 0);
    color: #000000;
  }
  .cursor{
    position: fixed;
    width: 4vw;
    height: 4vw;
    border: .1vw solid #000000;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
    z-index: 11;
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
      .logo{
          width: 40vw;
      }
    .menu {
        display: none;
    }
    .resim{
        display: block;
    }
    .res{
        display: grid;
        position: absolute;
        top: 10vh;
    }
    .res ul li{
        font-size: 17px;
        position: relative;
        right: 120px;
        bottom: 6vh;
    }
    .res img{
        margin: 6px;
        width: 50px;
    }
    .cursor{
        display: none;
    }
    .logo img{
        width: 280px;
    }
    .line{
        font-size: 40px;
        margin: 10px;
    }
    .cont{
        width: 100vw;
        height: 46vh;
        margin: 0px 5px ;
    }
    .cont h1{
        margin: 4px;
        font-size: 12px;
    }
    .in{
        width: 100vw;
        margin: 5px 20px;
        display: grid;
        grid-template-rows: repeat(5,20px);
        grid-gap: 17px;
        padding: 3px 3px;
    }
    #for{
        margin: 5px;
        width: 240px;
        height: 30px;
        font-size: 13px;
        border-radius: 21px;
        border: 1px solid black;
    }
    #for1{
        margin: 3px;
        width: 140px;
        height: 30px;
        font-size: 13px;
        border-radius: 13px;
        border: 1px solid black;
    }
    .butt{
        width: 100px;
        height: 30px;
        border-radius: 23px;
        margin:4px 8px;
    }
    .butt span{
        position: relative;
        left: 30px;
        top: 4px;
        font-size: 9px;
    }
    .cont p{
        margin: 26px 7px;
        font-size: 11px;
    }
    .anim{
        height: 23px;
        width: 360vw;
        margin: 7px 0px;
        border: 1px solid black;
        font-size: 8px;
    }
    .anim span{
        margin: 0px 1px;
    }
    .anim p{
        margin-bottom: 9px;
    }
    .anim nav div{
        width: 4px;
        height: 4px;
        border-radius: 50%;
        margin:18px 4px 0px 4px;
    }
    .cont1{
        width: 100vw;
        height: 135vh;
        margin: 14px;
        grid-template-rows: 10% 70% 15%;
    }
    .cont1 h1{
        font-size: 47px;
        margin: 6px;
        top: 27px;
    }
    .cont1 a{
        margin: 8px;
    }
    .box{
        width: 100vw;
        font-family: ta;
        display: grid;
        grid-template-rows: 30% 30% 30%;
    }
    .abox{
        width: 250px;
        height: 210px;
        top: 6vh;
        border: 1px solid black;
        border-radius: 8px;
        margin: 8px 11px;
    }
    .im{
        left: 5px;
        top:5px;
        width: 235px;
        height: 110px;
    }
    .navi{
        position: relative;
        left: 50px;
    }
    .box nav{
        font-size: 11px;
        top: 5px;
        left: 26px;
    }
    .box nav img{
        width: 17px;
    }
    .box nav p{
        top: 5px;
        margin: 0px 4px;
    }
    .h2{
        right: 16px;
    }
    #ico{
        margin: 5px;
    }
    #le{
        left: 60px;
    }
    #ico1{
        margin: 5px;
        left: 20px;
    }
    .abox h3{
        margin: 5px;
        top: 4px;
        font-size: 15px;
    }
    .abox h2{
        margin: 4px 2px;
        font-size: 15px;
    }
    .butt2{
        width: 110px;
        height: 35px;
        position: relative;
        left:120px;
        border-radius: 25px;
        margin:4px 8px;
    }
    .butt2 span{
        position: relative;
        left: 35px;
        top: 8px;
        font-size: 13px;
    }
    .cont2{
        width: 100vw;
        height: 100vh;
        margin: 3px;
        grid-template-rows: 20% 70% 10%;
    }
    .cont2 h1{
        font-size: 40px;
        margin: 8px;
    }
    .h22{
        width: 100vw;
        height: 5vh;
        margin: 4px;
        top: 5%;
    }
    .h3{
        width: 100vw;
        height: 5vh;
        top: 20%;
        margin: 4px;
    }
    
    .h4{
        width: 100vw;
        height: 5vh;
        top: 30%;
        margin:4px;
    }
    .butt3{
        width: 110px;
        height: 35px;
        position: relative;
        left:120px;
        border-radius: 25px;
        margin:4px 8px;
    }
    .butt3 span{
        position: relative;
        left: 35px;
        top: 8px;
        font-size: 13px;
    }
    .cont3{
        width: 100vw;
        height: 100vh;
        margin: 3px;
    }
    .cont3 h1{
        font-size: 40px;
        margin: 5px;
    }
    .bo{
        width: 60vw;
        height: 80vh;
        margin: 2%;
        left: 20vw;
        bottom: 10vh;
        padding: 10%;
     }
    .bo a{
        font-size: 14px;
        z-index: 100;
     }
     .bo span{
        position: relative;
        top: 8vh;
     }
     .hoverrev{
        display: none;
     }
     .butt4{
        width: 110px;
        height: 35px;
        position: relative;
        left:140px;
        border-radius: 25px;
        margin:6px 8px;
    }
    .butt4 span{
        position: relative;
        left: 35px;
        top: 8px;
        font-size: 13px;
    }
    .cont4{
        width:100vw;
        height: 80vh;
        margin:20px 10px;
        grid-template-rows: 70% 24% 10%;
    }
    .cont4 h1{
        font-size: 47px;
        margin: 5px;
    }
    .cont4 p{
        font-size: 12px;
        width: 40%;
        line-height: 14px;
        margin: 5px 0px;
    }
    .cont4 img{
        width: 27px;
    }
    .butt6{
        width: 110px;
        height: 35px;
        position: relative;
        border-radius: 25px;
        margin:6px 8px;
        bottom: 20px;
    }
    .butt6 span{
        position: relative;
        /* left: 20px; */
        top: 8px;
        font-size: 13px;
    }
    footer{
        width: 100vw;
        height:29vh;
        display: block;
        margin: 8px 0px 0px 0px;
        /* grid-template-rows: 75% 25%; */
        /* grid-template-rows: 70% 20%; */
    }
    .fot{
        width:100%;
        height: 50%;
    }
    .fot form{
        top: 45px;
    }
    /* #form{
        position: relative;
        bottom: 30px;
    } */
    .fot p{
        font-size: 12px;
        margin: 4px;
        right: 60px;
        top: 23px;
    }
    .fot form{
        position: relative;
        bottom: 10px;
    }
    .fot form input{
        margin: 2px;
        width: 140px;
        height: 20px;
        font-size: 13px;
        border-radius: 27px;
        padding: 12px;
    }
    .butt7{
        width: 90px;
        height: 30px;
        position: relative;
        left:-4px;
        border-radius: 30px;
        margin:4px 8px;
    }
    .butt7 span{
        position: relative;
        /* left: 10px; */
        top: 5px;
        font-size: 12px;
    }
    .fot1{
        width: 100%;
        height: 48%;
        grid-template-rows: 40% 52% 8%;
    }
    .fot1 h2{
        top: 27px;
        font-size: 17px;
    }
    .fot1 p{
        top: 13px;
        font-size: 10px;
    }
    .fot1 nav{
        position: relative;
        bottom: 5px;
        margin: 3px 9px;
        font-size: 7px;
        text-align: right;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .menu {
        display: none;
    }
    .resim{
        display: block;
    }
    .res{
        display: grid;
    }
    .res ul li{
        font-size: 20px;
        position: relative;
        right: 110px;
    }
    .res img{
        margin: 6px;
        width: 60px;
    }
    .line{
        font-size: 47px;
        overflow: hidden;
    }
    .cursor{
        display: none;
    }
    .cont h1{
        margin: 5px;
        font-size: 20px;
    }
    .in{
        width: 100vw;
        margin: 5px 20px;
        display: grid;
        grid-template-rows: repeat(5,20px);
        grid-gap: 17px;
        padding: 3px 3px;
    }
    #for{
        margin: 5px;
        width: 240px;
        height: 30px;
        font-size: 13px;
        border-radius: 21px;
        border: 1px solid black;
    }
    #for1{
        margin: 3px;
        width: 140px;
        height: 30px;
        font-size: 13px;
        border-radius: 13px;
        border: 1px solid black;
    }
    .butt{
        width: 100px;
        height: 30px;
        border-radius: 23px;
        margin:4px 8px;
    }
    .butt span{
        position: relative;
        left: 30px;
        top: 4px;
        font-size: 9px;
    }
    .cont p{
        margin: 26px 7px;
        font-size: 16px;
    }
    .anim{
        height: 25px;
        margin: 8px 0px;
        border: 1px solid black;
        font-size: 11px;
    }
    .anim span{
        margin: 0px 1px;
    }
    .anim p{
        margin-bottom: 8px;
    }
    .anim nav div{
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin:16px 6px 0px 6px;
    }
     .cont1{
        width: 100vw;
        height: 140vh;
        margin: 14px;
        grid-template-rows: 10% 80% 5%;
    }
    .cont1 h1{
        font-size: 50px;
        margin: 8px;
        top: 30px;
    }
    .cont1 a{
        margin: 8px;
    }
    .box{
        width: 100vw;
        font-family: ta;
        display: grid;
        grid-template-rows: 30% 30% 30%;
    }
    .abox{
        width: 300px;
        height: 260px;
        top: 6vh;
        border: 1px solid black;
        border-radius: 8px;
        margin: 8px 11px;
    }
    .im{
        left: 5px;
        top:5px;
        width: 290px;
        height: 160px;
    }
    .navi{
        position: relative;
        left: 50px;
    }
    .box nav{
        font-size: 17px;
        top: 5px;
        left: 26px;
    }
    .box nav img{
        width: 17px;
    }
    .box nav p{
        top: 5px;
        margin: 0px 4px;
    }
    .h2{
        right: 16px;
    }
    #ico{
        margin: 5px;
    }
    #le{
        left: 60px;
    }
    #ico1{
        margin: 5px;
        left: 20px;
    }
    .abox h3{
        margin: 5px;
        top: 4px;
        font-size: 18px;
    }
    .abox h2{
        margin: 4px 2px;
        font-size: 20px;
    }
    .butt2{
        width: 110px;
        height: 35px;
        position: relative;
        left:200px;
        border-radius: 25px;
        margin:4px 8px;
    }
    .butt2 span{
        position: relative;
        left: 35px;
        top: 8px;
        font-size: 13px;
    }
    .cont2{
        width: 100vw;
        height: 120vh;
        margin: 3px;
        grid-template-rows: 20% 70% 10%;
    }
    .cont2 h1{
        font-size: 59px;
        margin: 8px;
    }
    .h22{
        width: 100vw;
        height: 5vh;
        margin: 6px;
    }
    .h3{
        width: 100vw;
        height: 5vh;
        top: 25%;
        margin: 6px;
    }
    
    .h4{
        width: 100vw;
        height: 5vh;
        top: 45%;
        margin:6px;
    }
    .butt3{
        width: 110px;
        height: 35px;
        position: relative;
        left:200px;
        border-radius: 25px;
        margin:4px 8px;
    }
    .butt3 span{
        position: relative;
        left: 35px;
        top: 8px;
        font-size: 13px;
    }
    .cont3{
        width: 100vw;
        height: 100vh;
        margin: 3px;
    }
    .cont3 h1{
        font-size: 40px;
        margin: 5px;
    }
    .bo{
        width: 60vw;
        height: 80vh;
        margin: 2%;
        left: 20vw;
        bottom: 10vh;
        padding: 10%;
     }
    .bo a{
        font-size: 18px;
        z-index: 100;
     }
     .bo span{
        position: relative;
        top: 5vh;
     }
     
     .hoverrev{
        display: none;
     }
     .butt4{
        width: 110px;
        height: 35px;
        position: relative;
        left:200px;
        border-radius: 25px;
        margin:4px 8px;
    }
    .butt4 span{
        position: relative;
        left: 35px;
        top: 8px;
        font-size: 13px;
    }
    .cont4{
        width:100vw;
        height: 80vh;
        margin:20px 10px;
        grid-template-rows: 70% 24% 10%;
    }
    .cont4 h1{
        font-size: 56px;
        margin: 8px;
    }
    .cont4 p{
        position: relative;
        font-size: 17px;
        width: 40%;
        line-height: 25px;
        margin: 8px 0px;
        z-index: 100;
    }
    .cont4 img{
        width: 31px;
    }
    .butt6{
        width: 110px;
        height: 35px;
        position: relative;
        left:4px;
        border-radius: 25px;
        margin:4px 8px;
    }
    .butt6 span{
        position: relative;
        /* left: 10px; */
        top: 8px;
        font-size: 13px;
    }
    footer{
        width: 100vw;
        height:29vw;
        display: grid;
        margin: 8px 0px 0px 0px;
        grid-template-columns: 75% 25%;
        /* grid-template-rows: 70% 20%; */
    }
    .fot{
        width:100%;
        height: 100%;
    }
    .fot form{
        top: 75px;
    }
    .fot p{
        font-size: 12px;
        margin: 8px;
        right: 120px;
        top: 23px;
    }
    .fot form{
        position: relative;
        bottom: 10px;
    }
    .fot form input{
        margin: 3px;
        width: 140px;
        height: 20px;
        font-size: 13px;
        border-radius: 27px;
        padding: 12px;
    }
    .butt7{
        width: 110px;
        height: 30px;
        position: relative;
        left:4px;
        border-radius: 30px;
        margin:4px 8px;
    }
    .butt7 span{
        position: relative;
        /* left: 10px; */
        top: 5px;
        font-size: 12px;
    }
    .fot1{
        width: 100%;
        height: 100%;
        grid-template-rows: 30% 62% 8%;
    }
    .fot1 h2{
        top: 24px;
        font-size: 17px;
    }
    .fot1 p{
        top: 13px;
        font-size: 10px;
    }
    .fot1 nav{
        font-size: 7px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .menu {
        display: grid;
    }
    .resim{
        display: none;
    }
    .res{
        display: none;
    }
    .line{
        font-size: 60px;
    }
    .menu li{
        padding: 8px 5px;
        cursor: pointer;
    }
    .cursor{
        display: grid;
    }
    .menu a{
        font-size: 11px;
        position: relative;
    }
    .menu{
        margin: 10px;
    }
    .cont h1{
        margin: 5px;
        font-size: 20px;
    }
    .in{
        width: 100vw;
        margin: 10px 30px;
        display: grid;
        grid-template-rows: repeat(5,30px);
        grid-gap: 10px;
        padding: 3px 3px;
    }
    #for{
        margin: 5px;
        width: 280px;
        height: 30px;
        font-size: 13px;
        border-radius: 21px;
        border: 1px solid black;
    }
    #for1{
        margin: 3px;
        width: 180px;
        height: 30px;
        font-size: 13px;
        border-radius: 13px;
        border: 1px solid black;
    }
    .butt{
        width: 130px;
        height: 30px;
        border-radius: 23px;
        margin:4px 8px;
    }
    .butt span{
        position: relative;
        left: 39px;
        top: 4px;
        font-size: 11px;
    }
    .cont p{
        margin: 26px 7px;
        font-size: 19px;
    }
    .anim{
        height: 30px;
        margin: 10px 0px;
        border: 1px solid black;
        font-size: 13px;
    }
    .anim span{
        margin: 0px 1px;
    }
    .anim nav div{
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin:13px 6px 0px 6px;
    }
    .cont1{
        width: 100vw;
        height: 100vh;
        margin: 16px;
        grid-template-rows: 10% 80% 5%;
    }
    .cont1 h1{
        font-size: 56px;
        margin: 8px;
        top: 30px;
    }
    .cont1 a{
        margin: 8px;
    }
    .box{
        width: 100vw;
        font-family: ta;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
    .abox{
        width: 300px;
        height: 260px;
        top: 6vh;
        border: 1px solid black;
        border-radius: 8px;
        margin: 8px 11px;
    }
    .im{
        left: 5px;
        top:5px;
        width: 290px;
        height: 160px;
    }
    .navi{
        position: relative;
        left: 50px;
    }
    .box nav{
        font-size: 17px;
        top: 5px;
        left: 26px;
    }
    .box nav img{
        width: 17px;
    }
    .box nav p{
        top: 5px;
        margin: 0px 4px;
    }
    .h2{
        right: 16px;
    }
    #ico{
        margin: 5px;
    }
    #le{
        left: 60px;
    }
    #ico1{
        margin: 5px;
        left: 20px;
    }
    .abox h3{
        margin: 5px;
        top: 4px;
        font-size: 18px;
    }
    .abox h2{
        margin: 4px 2px;
        font-size: 20px;
    }
    .butt2{
        width: 110px;
        height: 35px;
        position: relative;
        left:300px;
        border-radius: 25px;
        margin:4px 8px;
    }
    .butt2 span{
        position: relative;
        left: 35px;
        top: 8px;
        font-size: 13px;
    }
       .cont2{
        width: 100vw;
        height: 120vh;
        margin: 5px;
        grid-template-rows: 20% 70% 10%;
    }
    .cont2 h1{
        font-size: 63px;
        margin: 10px;
    }
    .h22{
        width: 100vw;
        height: 5vh;
        margin: 9px;
    }
    .h3{
        width: 100vw;
        height: 5vh;
        top: 25%;
        margin: 9px;
    }
    
    .h4{
        width: 100vw;
        height: 5vh;
        top: 45%;
        margin:9px;
    }
    .butt3{
        width: 110px;
        height: 35px;
        position: relative;
        left:300px;
        border-radius: 25px;
        margin:4px 8px;
    }
    .butt3 span{
        position: relative;
        left: 35px;
        top: 8px;
        font-size: 13px;
    }
    .cont3{
        width: 100vw;
        height: 100vh;
        margin: 5px;
    }
    .cont3 h1{
        font-size: 50px;
        margin: 6px;
    }
    .bo{
        width: 60vw;
        height: 80vh;
        margin: 2%;
        left: 20vw;
        bottom: 10vh;
        padding: 10%;
     }
    .bo a{
        font-size: 19px;
        z-index: 100;
     }
     .bo span{
        position: relative;
        top: 7vh;
     }
     .hoverrev{
        display: grid;
        width: 50%;
        height: 10%;
     }
     .butt4{
        width: 110px;
        height: 35px;
        position: relative;
        left:300px;
        border-radius: 25px;
        margin:4px 8px;
    }
    .butt4 span{
        position: relative;
        left: 35px;
        top: 8px;
        font-size: 13px;
    }
    .cont4{
        width:100vw;
        height: 100vh;
        margin:20px 10px;
        grid-template-rows: 70% 24% 10%;
    }
    .cont4 h1{
        font-size: 62px;
        margin: 8px;
    }
    .cont4 p{
        font-size: 20px;
        width: 40%;
        line-height: 28px;
        margin: 10px 0px;
    }
    .cont4 img{
        width: 35px;
    }
    .butt6{
        width: 110px;
        height: 35px;
        position: relative;
        left:20px;
        border-radius: 25px;
        margin:4px 8px;
    }
    .butt6 span{
        position: relative;
        /* left: 10px; */
        top: 8px;
        font-size: 13px;
    }
    footer{
        width: 100vw;
        height:25vw;
        display: grid;
        margin: 8px 0px 0px 0px;
        grid-template-columns: 75% 25%;
    }
    .fot{
        width:100%;
        height: 100%;
    }
    .fot form{
        top: 75px;
    }
    .fot p{
        font-size: 15px;
        margin: 8px;
        right: 180px;
        top: 23px;
    }
    .fot form{
        position: relative;
        bottom: 10px;
    }
    .fot form input{
        margin: 3px;
        width: 190px;
        height: 20px;
        font-size: 13px;
        border-radius: 27px;
        padding: 18px;
    }
    .butt7{
        width: 110px;
        height: 30px;
        border-radius: 30px;
        margin:10px 10px;
    }
    .butt7 span{
        font-size: 15px;
        top: 5px;
    }
    .fot1{
        width: 100%;
        height: 100%;
        grid-template-rows: 30% 62% 8%;
    }
    .fot1 h2{
        top: 24px;
        font-size: 20px;
    }
    .fot1 p{
        top: 13px;
        font-size: 13px;
    }
    .fot1 nav{
        font-size: 10px;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .menu a{
        font-size: 14px;
        position: relative;
    }
    .menu{
        display: grid;
    }
    .resim{
        display: none;
    }
    .res{
        display: none;
    }
    .line{
        font-size: 70px;
    }
    .menu li{
        padding: 8px 5px;
        cursor: pointer;
    }
    .cont h1{
        margin: 10px;
        font-size: 30px;
    }
    .in{
        width: 100vw;
        margin: 20px 10px;
        display: flex;
    }
    #for{
        margin: 3px;
        width: 230px;
        height: 35px;
        font-size: 14px; 
        border-radius: 25px;
        border: 2px solid black;
    }
    #for1{
        margin: 3px;
        width: 160px;
        height: 35px;
        font-size: 14px;
        border-radius: 15px;
        border: 2px solid black;
    }
    .butt{
        width: 110px;
        height: 35px;
        border-radius: 25px;
        margin:4px 8px;
    }
    .butt span{
        position: relative;
        left: 25px;
        top: 8px;
        font-size: 13px;
    }
    .cont p{
        margin: 30px 10px;
        font-size: 22px;
    }
    .anim{
        height: 40px;
        margin: 15px 0px;
        border: 2px solid black;
        font-size: 16px;
    }
    .anim span{
        margin: 0px 2px;
    }
    .anim nav div{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin:13px 8px 0px 8px;
    }
    .cont1{
        width: 100vw;
        height: 100vh;
        margin: 16px;
        grid-template-rows: 20% 70% 5%;
    }
    .cont1 h1{
        font-size: 56px;
        margin: 8px;
        top: 30px;
    }
    .cont1 a{
        margin: 8px;
    }
    .box{
        width: 100vw;
        font-family: ta;
        display: flex;
    }
    .abox{
        width: 300px;
        height: 260px;
        top: 10vh;
        border: 1px solid black;
        border-radius: 8px;
        margin: 8px 11px;
    }
    .im{
        left: 5px;
        top:5px;
        width: 290px;
        height: 160px;
    }
    .navi{
        position: relative;
        left: 50px;
    }
    .box nav{
        font-size: 17px;
        top: 5px;
        left: 26px;
    }
    .box nav img{
        width: 17px;
    }
    .box nav p{
        top: 5px;
        margin: 0px 4px;
    }
    .h2{
        right: 16px;
    }
    #ico{
        margin: 5px;
    }
    #le{
        left: 60px;
    }
    #ico1{
        margin: 5px;
        left: 20px;
    }
    .abox h3{
        margin: 5px;
        top: 4px;
        font-size: 18px;
    }
    .abox h2{
        margin: 4px 2px;
        font-size: 20px;
    }
    .butt1{
        width: 110px;
        height: 35px;
        border-radius: 25px;
        margin:4px 8px;
    }
    .butt1 span{
        position: relative;
        left: 25px;
        top: 8px;
        font-size: 13px;
    }
    .cont2{
        width: 100vw;
        height: 120vh;
        margin: 5px;
        grid-template-rows: 20% 70% 10%;
    }
    .cont2 h1{
        font-size: 63px;
        margin: 10px;
    }
    .h22{
        width: 100vw;
        height: 5vh;
        margin: 9px;
    }
    .h3{
        width: 100vw;
        height: 5vh;
        top: 25%;
        margin: 9px;
    }
    
    .h4{
        width: 100vw;
        height: 5vh;
        top: 45%;
        margin:9px;
    }
    .butt3{
        width: 130px;
        height: 40px;
        border-radius: 30px;
        margin:6px 10px;
        bottom: 10px;
        left: 480px;
    }
    .butt3 span{
        margin: 17px 0px;
        left: 40px;
        top: 12px;
    }
    .cont3{
        width: 100vw;
        height: 100vh;
        margin: 7px;
    }
    .cont3 h1{
        font-size: 55px;
        margin: 6px;
    }
    .bo{
        width: 60vw;
        height: 80vh;
        margin: 2%;
        left: 20vw;
        bottom: 10vh;
        padding: 10%;
     }
    .bo a{
        font-size: 22px;
        z-index: 100;
     }
     .bo span{
        position: relative;
        top: 7vh;
     }
     .hoverrev{
        display: grid;
        width: 50%;
        height: 10%;
     }
      .butt4{
        width: 130px;
        height: 40px;
        border-radius: 30px;
        margin:6px 10px;
        bottom: 10px;
        left: 480px;
    }
    .butt4 span{
        margin: 17px 0px;
        left: 40px;
        top: 12px;
    }
    .cont4{
        width:100vw;
        height: 100vh;
        margin:20px 10px;
        grid-template-rows: 70% 24% 10%;
    }
    .cont4 h1{
        font-size: 65px;
        margin: 10px;
    }
    .cont4 p{
        font-size: 22px;
        width: 40%;
        line-height: 30px;
        margin: 10px 0px;
    }
    .cont4 img{
        width: 40px;
    }
    .butt6{
        width: 130px;
        height: 40px;
        border-radius: 30px;
        margin:10px 10px;
    }
    .butt6 span{
        top: 12px;
    }
    footer{
        width: 100vw;
        height:25vw;
        display: grid;
        margin: 8px 0px 0px 0px;
        grid-template-columns: 75% 25%;
    }
    .fot{
        width:100%;
        height: 100%;
    }
    .fot form{
        top: 75px;
    }
    .fot p{
        font-size: 18px;
        margin: 8px;
        right: 210px;
        top: 26px;
    }
    .fot form input{
        margin: 3px;
        width: 220px;
        height: 35px;
        font-size: 13px;
        border-radius: 30px;
        padding: 20px;
    }
    .butt7{
        width: 130px;
        height: 38px;
        border-radius: 30px;
        margin:10px 10px;
    }
    .butt7 span{
        top: 9px;
    }
    .fot1{
        width: 100%;
        height: 100%;
        grid-template-rows: 30% 62% 8%;
    }
    .fot1 h2{
        top: 27px;
        font-size: 23px;
    }
    .fot1 p{
        top: 16px;
        font-size: 15px;
    }
    .fot1 nav{
        font-size: 12px;
    }
  }
  @media only screen and (min-width: 1100px) {
    .anim{
        height: 40px;
        margin: 15px 0px;
        border: 2px solid black;
        font-size: 20px;
    }
    .anim span{
        margin: 0px 3px;
    }
    .anim nav div{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 8px 5px;
    }
      .cont1{
        width: 100vw;
        height: 100vh;
        margin: 16px;
        grid-template-rows: 20% 70% 5%;
    }
    .cont1 h1{
        font-size: 60px;
        margin: 10px;
        top: 30px;
    }
    .cont1 a{
        margin: 10px;
    }
    .box{
        width: 100vw;
        font-family: ta;
        display: flex;
    }
    .abox{
        width: 330px;
        height: 290px;
        top: 10vh;
        border: 1px solid black;
        border-radius: 8px;
        margin: 8px 11px;
    }
    .im{
        left: 7px;
        top:5px;
        width: 310px;
        height: 180px;
    }
    .navi{
        position: relative;
        left: 50px;
    }
    .box nav{
        font-size: 20px;
        top: 5px;
        left: 26px;
    }
    .box nav img{
        width: 19px;
    }
    .box nav p{
        top: 5px;
        margin: 0px 4px;
    }
    .h2{
        right: 16px;
    }
    #ico{
        margin: 5px;
    }
    #le{
        left: 60px;
    }
    #ico1{
        margin: 5px;
        left: 20px;
    }
    .abox h3{
        margin: 5px;
        top: 4px;
        font-size: 20px;
    }
    .abox h2{
        margin: 4px 2px;
        font-size: 20px;
    }
    .butt2{
        width: 130px;
        height: 40px;
        border-radius: 30px;
        margin:18px 0px;
        position: relative;
        left: 550px;
        top: 20px;
    }
    .butt2 span{
        position: relative;
        margin: 17px 0px;
        left: 40px;
        top: 12px;
    }
    
    .hoverrev{
        display: grid;
        width: 50%;
        height: 10%;
     }
      footer{
        width: 100vw;
        height:25vw;
        display: grid;
        margin: 8px 0px 0px 0px;
        grid-template-columns: 75% 25%;
    }
    .fot{
        width:100%;
        height: 100%;
    }
    .fot form{
        top: 75px;
    }
    .fot p{
        font-size: 20px;
        margin: 8px;
        right: 250px;
        top: 26px;
    }
    .fot form input{
        margin: 3px;
        width: 250px;
        height: 40px;
        font-size: 13px;
        border-radius: 30px;
        padding: 20px;
    }
    .butt7{
        width: 130px;
        height: 40px;
        border-radius: 30px;
        margin:7px 7px;
    }
    .butt7 span{
        top: 12px;
    }
    .fot1{
        width: 100%;
        height: 100%;
        grid-template-rows: 30% 62% 8%;
    }
    .fot1 h2{
        top: 30px;
        font-size: 26px;
    }
    .fot1 p{
        top: 20px;
        font-size: 18px;
    }
    .fot1 nav{
        font-size: 13px;
    }
     
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .menu a{
        font-size: 16px;
        position: relative;
    }
    .line{
        font-size: 90px;
    }
    .menu li{
        padding: 8px 10px;
        cursor: pointer;
    }
    .in{
        width: 100vw;
        margin: 20px 20px;
        display: flex;
    }
    #for{
        margin: 5px;
        width: 280px;
        height: 40px;
        font-size: 16px;
        border-radius: 30px;
        border: 2px solid black;
    }
    #for1{
        margin: 5px;
        width: 200px;
        height: 40px;
        font-size: 16px;
        border-radius: 18px;
        border: 2px solid black;
    }
    .butt{
        width: 130px;
        height: 40px;
        border-radius: 30px;
        margin:6px 10px;
    }
    .butt span{
        position: relative;
        left: 29px;
        top: 12px;
        font-size: 16px;
    }
    .cont p{
        margin: 50px 20px;
        font-size: 26px;
    }
    .anim{
        height: 50px;
        margin: 20px 0px;
        border: 2px solid black;
    }
    .anim span{
        font-size: 25px;
        margin: 0px 6px;
    }
    .anim nav div{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 10px;
    }
    .cont1{
        width: 100vw;
        height: 100vh;
        margin: 18px;
        grid-template-rows: 20% 70% 5%;
    }
    .cont1 h1{
        font-size: 65px;
        margin: 10px;
        top: 30px;
    }
    .cont1 a{
        margin: 10px;
    }
    .box{
        width: 100vw;
        font-family: ta;
        display: flex;
    }
    .abox{
        width: 360px;
        height: 310px;
        top: 10vh;
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px 15px;
    }
    .im{
        left: 3px;
        top:5px;
        width: 350px;
        height: 200px;
    }
    .navi{
        position: relative;
        left: 50px;
    }
    .box nav{
        font-size: 20px;
        top: 5px;
        left: 26px;
    }
    .box nav img{
        width: 20px;
    }
    .box nav p{
        top: 5px;
        margin: 0px 4px;
    }
    .h2{
        right: 16px;
    }
    #ico{
        margin: 5px;
    }
    #le{
        left: 60px;
    }
    #ico1{
        margin: 5px;
        left: 20px;
    }
    .abox h3{
        margin: 5px;
        top: 4px;
        font-size: 22px;
    }
    .abox h2{
        margin: 4px 2px;
        font-size: 22px;
    }
    .butt2{
        width: 130px;
        height: 40px;
        border-radius: 30px;
        margin:18px 0px;
        position: relative;
        left: 550px;
        top: -150px;
    }
    .butt2 span{
        position: relative;
        margin: 17px 0px;
        left: 40px;
        top: 12px;
        font-size: 16px;
    }
    .cont2{
        width: 100vw;
        height: 120vh;
        margin: 5px;
        grid-template-rows: 20% 70% 10%;
    }
    .cont2 h1{
        font-size: 63px;
        margin: 10px;
    }
    .h22{
        width: 100vw;
        height: 5vh;
        margin: 9px;
    }
    .h3{
        width: 100vw;
        height: 5vh;
        top: 25%;
        margin: 9px;
    }
    
    .h4{
        width: 100vw;
        height: 5vh;
        top: 45%;
        margin:9px;
    }
    .butt3{
        font-size: 22px;
        width: 130px;
        height: 40px;
        border-radius: 30px;
        margin:6px 10px;
        left: 550px;
    }
    .butt3 span{
        margin: 17px 0px;
        left: 40px;
        top: 4px;
        font-size: 16px;
    }
    .cont3{
        width: 100vw;
        height: 100vh;
        margin: 10px;
    }
    .cont3 h1{
        font-size: 60px;
        margin: 8px;
    }
    .bo{
        width: 60vw;
        height: 80vh;
        margin: 2%;
        left: 20vw;
        bottom: 10vh;
        padding: 10%;
     }
    .bo a{
        font-size: 27px;
        z-index: 100;
     }
     .bo span{
        position: relative;
        top: 7vh;
     }
     
     .hoverrev{
        display: grid;
        width: 50%;
        height: 10%;
     }
     .butt4{
        width: 130px;
        height: 40px;
        border-radius: 30px;
        margin:6px 10px;
        left: 550px;
    }
    .butt4 span{
        margin: 17px 0px;
        left: 40px;
        top: 12px;
        font-size: 16px;
    }
    .cont4{
        width:100vw;
        height: 100vh;
        margin:20px 10px;
        grid-template-rows: 70% 24% 10%;
    }
    .cont4 h1{
        font-size: 65px;
        margin: 10px;
    }
    .cont4 p{
        font-size: 22px;
        width: 40%;
        line-height: 30px;
        margin: 10px 0px;
    }
    .cont4 img{
        width: 40px;
    }
    .butt6{
        width: 130px;
        height: 40px;
        border-radius: 30px;
        margin:10px 10px;
    }
    .butt6 span{
        top: 12px;
        font-size: 16px;
    }
    footer{
        width: 100vw;
        height:25vw;
        display: grid;
        margin: 10px 0px 0px 0px;
        grid-template-columns: 75% 25%;
    }
    .fot{
        width:100%;
        height: 100%;
    }
    .fot form{
        top: 80px;
    }
    .fot p{
        font-size: 25px;
        margin: 10px;
        right: 270px;
        top: 30px;
    }
    .fot form input{
        margin: 3px;
        width: 260px;
        height: 40px;
        font-size: 13px;
        border-radius: 30px;
        padding: 20px;
    }
    .butt7{
        width: 130px;
        height: 40px;
        border-radius: 30px;
        margin:7px 7px;
    }
    .butt7 span{
        top: 12px;
    }
    .fot1{
        width: 100%;
        height: 100%;
        grid-template-rows: 30% 62% 8%;
    }
    .fot1 h2{
        top: 30px;
        font-size: 30px;
    }
    .fot1 p{
        top: 20px;
        font-size: 20px;
    }
  }
  @media only screen and (min-width: 1300px) {
    .menu a{
        font-size: 18px;
        position: relative;
    }
    .line{
        font-size: 95px;
    }
    .cont1{
        width: 100vw;
        height: 100vh;
        margin: 20px;
        grid-template-rows: 20% 70% 5%;
    }
    .cont1 h1{
        font-size: 65px;
        margin: 10px;
        top: 30px;
    }
    .cont1 a{
        margin: 10px;
    }
    .box{
        width: 100vw;
        font-family: ta;
        display: flex;
    }
    .abox{
        width: 400px;
        height: 350px;
        top: 10vh;
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px 15px;
    }
    .im{
        left: 5px;
        top:5px;
        width: 390px;
        height: 219px;
    }
    .navi{
        position: relative;
        left: 50px;
    }
    .box nav{
        font-size: 22px;
        top: 5px;
        left: 26px;
    }
    .box nav img{
        width: 28px;
    }
    .box nav p{
        top: 5px;
        margin: 0px 4px;
    }
    .h2{
        right: 30px;
    }
    #ico{
        margin: 5px;
    }
    #le{
        left: 60px;
    }
    #ico1{
        margin: 5px;
        left: 20px;
    }
    .abox h3{
        margin: 5px;
        top: 4px;
        font-size: 24px;
    }
    .abox h2{
        margin: 6px 2px;
        font-size: 29px;
    }
    .butt2{
        width: 130px;
        height: 40px;
        border-radius: 30px;
        margin:18px 0px;
        position: relative;
        left: 550px;
        top: 20px;
    }
    .butt2 span{
        position: relative;
        margin: 17px 0px;
        left: 40px;
        top: 12px;
    }
    .cont2{
        width: 100vw;
        height: 120vh;
        margin: 5px;
        grid-template-rows: 20% 70% 10%;
    }
    .cont2 h1{
        font-size: 69px;
        margin: 10px;
    }
    .h22{
        width: 100vw;
        height: 5vh;
        margin: 10px;
    }
    .h3{
        width: 100vw;
        height: 5vh;
        top: 25%;
        margin: 10px;
    }
    
    .h4{
        width: 100vw;
        height: 5vh;
        top: 45%;
        margin:10px;
    }
    .butt3{
        width: 130px;
        height: 40px;
        border-radius: 30px;
        margin:6px 10px;
        left: 550px;
    }
    .butt3 span{
        margin: 17px 0px;
        left: 40px;
        top: 12px;
    }
    .cont3{
        width: 100vw;
        height: 100vh;
        margin: 10px;
    }
    .cont3 h1{
        font-size: 65px;
        margin: 10px;
    }
    .bo{
        width: 60vw;
        height: 80vh;
        margin: 2%;
        left: 20vw;
        bottom: 10vh;
        padding: 10%;
     }
    .bo a{
        font-size: 30px;
        z-index: 100;
     }
     .bo span{
        position: relative;
        top: 7vh;
     }
     
     .hoverrev{
        display: grid;
        width: 50%;
        height: 10%;
     }
     .butt4{
        width: 130px;
        height: 40px;
        border-radius: 30px;
        margin:6px 10px;
        left: 580px;
        bottom: 80px;
    }
    .butt4 span{
        margin: 17px 0px;
        left: 40px;
        top: 12px;
    }
    footer{
        width: 100vw;
        height:25vw;
        display: grid;
        margin: 10px 0px 0px 0px;
        grid-template-columns: 75% 25%;
    }
    .fot{
        width:100%;
        height: 100%;
    }
    .fot form{
        top: 80px;
    }
    .fot p{
        font-size: 30px;
        margin: 10px;
        right: 300px;
        top: 30px;
    }
    .fot form input{
        margin: 3px;
        width: 280px;
        height: 40px;
        font-size: 16px;
        border-radius: 30px;
        padding: 20px;
    }
    .butt7{
        width: 130px;
        height: 40px;
        border-radius: 30px;
        margin:7px 7px;
    }
    .butt7 span{
        top: 12px;
    }
    .fot1{
        width: 100%;
        height: 100%;
        grid-template-rows: 30% 62% 8%;
    }
    .fot1 h2{
        top: 30px;
        font-size: 30px;
    }
    .fot1 p{
        top: 20px;
        font-size: 20px;
    }
  }
  
  .webgl
  {
      position: absolute;
      top: 0;
      left: 0;
      outline: none;
      /* z-index: 100; */
  }